.content-container-dark {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #111111;
}

.content-container-light {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.sidebar-container-light {
  position: absolute;
  width: 260px;
  height: 100vh;
  background-color: #e8e8e8;
}

.sidebar-container-half-light {
  position: absolute;
  width: 60px;
  height: 100vh;
  background-color: #e8e8e8;
  color: black;
}

.sidebar-container-dark {
  position: absolute;
  width: 260px;
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
}

.sidebar-container-half-dark {
  position: absolute;
  width: 60px;
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
}

.content-full {
  display: flex;
  flex-direction: column; 
  flex: 1;
  margin-left: 260px;
}

.content-half {
  display: flex;
  flex-direction: column; 
  flex: 1;
  margin-left: 60px;
}