.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative; 
  overflow: hidden;
}

.background-image {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: 1;
}

.login-container-background {
  position: absolute;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: white;
  opacity: .8;
  border-radius: 15px;
}

.forgot-password-container-background {
  position: absolute;
  height: 370px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: white;
  opacity: .8;
  border-radius: 15px;
}

.signup-container-background {
  position: absolute;
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: white;
  opacity: .8;
  border-radius: 15px;
}

.login-container {
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.logo-image {
  height: 65px;
  width: 260px;
}

.custom-icon-size {
  font-size: 20px; 
  margin-right: 12px;
  fill: white;
  stroke: #009ea1;
  stroke-width: 15px;
  color: #009ea1;
}

/*  fill='white' strokeWidth={5} stroke='black' */

.image-container {
  margin-bottom: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.label {
  margin-bottom: 4px;
}

.input-label {
  font-size: 14px;
}

.user-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 14px;
  border-radius: 10px;
  border: 2px solid #009ea1;
  margin-top: 14px;
}

.input {
  margin: 0;
  width: 242px;
  border: 0;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 4px;
  font-size: 16px;
  border-bottom: 2px solid #009ea1;
  background-color: rgb(225, 225, 225, .1);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container-full {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-container {
  display: flex;
  flex-direction: row;
}

.button {
  width: 49%;
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #009ea1;
  color: white;
  font-weight: bold;
  border: 0;
  font-size: 18px;
}

.button-full {
  width: 100%;
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #009ea1;
  color: white;
  font-weight: bold;
  border: 0;
  font-size: 18px;
  margin-top: 18px;
}

.errors {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 16px;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.forgot-password-button {
  padding-top: 6px;
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.forgot-password-text {
  color: #009ea1;
}

.go-back-text {
  font-size: 14px;
  margin-top: 12px;
  color: #009ea1;
}