.profile-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-component {
  width: 350px;
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding: 16px;
}

.panel-component-dark {
  width: 350px;
  height: 100%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding: 16px;
  color: white;
}

.profile-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.toggle-mode-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mode-toggle-light {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  padding: 6px;
  border-radius: 20px;
}

.mode-toggle-dark {
  display: flex;
  flex-direction: row;
  background-color: grey;
  padding: 6px;
  border-radius: 20px;
}

.light-toggle {
  height: 15px;
  width: 15px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 20px;
  background-color: white;
}

.dark-toggle {
  height: 15px;
  width: 15px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 20px;
  background-color: black;
}

.selected-light {
  background-color: white;
}

.mode-toggle-dark .selected-dark {
  background-color: black;
}

.unselected-light {
  background-color: lightgrey;
}

.unselected-dark {
  background-color: grey;
}

.userName {
  font-size: 24px;
}

.userEmail {
  font-size: 14px;
  font-weight: 500;
}

.label {
  margin-bottom: 4px;
}

.input-label {
  font-size: 14px;
}

.user-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 14px;
  border-radius: 10px;
  border: 2px solid #009ea1;
  margin-top: 14px;
}

.input {
  margin: 0;
  width: 242px;
  border: 0;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 4px;
  font-size: 16px;
  border-bottom: 2px solid #009ea1;
}

.section-header-info {
  padding-top: 8px;
  padding-bottom: 12px;
}

.section-header-info-dark {
  padding-top: 8px;
  padding-bottom: 12px;
}

.section-header {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}

.section-header-dark {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.subsection-profile {
  width: '100%';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.subsection-profile-last {
  width: '100%';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}

.profile-input {
  width: 200px;
  border: 0;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 4px;
  font-size: 16px;
  border-bottom: 2px solid #009ea1;
}

.profile-input-dark {
  width: 200px;
  border: 0;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 4px;
  font-size: 16px;
  background-color: rgb(53, 53, 53);
  color: white;
  border-bottom: 2px solid #009ea1;
}

.user-info {
  font-size: 14px;
}

.reset-password-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #009ea1;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 16px;
  color: white;
}

.reset-password-text {
  font-weight: bold;
}