.tb-container {
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tb-menu {
  margin-left: 8px;
  margin-right: 8px;
  height: 48px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.tb-menu-dark {
  margin-left: 8px;
  margin-right: 8px;
  height: 48px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #202020;
  border-radius: 10px;
}

.tb-search-bar {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 6px;
  flex-grow: 1;
}

.tb-search-bar-dark {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: #292929;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 6px;
  flex-grow: 1;
}

.search {
  color: #009ea1;
}

.search-red {
  color: red;
}

.tb-icon-menu {
  font-size: 18px;
  color: white;
  padding-right: 6px;
}

.tb-icon-menu-clear {
  font-size: 20px;
  color: #009ea1;
  padding-left: 8px;
  padding-right: 8px;
}

.tb-input {
  margin-right: 8px;
  width: 100%;
  flex-grow: 1;
  border: 0;
  font-size: 14px;
  background-color: white;
  border-bottom: 2px solid #009ea1;
  color: black;
}

.tb-input-dark {
  margin-right: 8px;
  width: 100%;
  flex-grow: 1;
  border: 0;
  font-size: 14px;
  background-color: #292929;
  border-bottom: 2px solid #009ea1;
  color: white;
}

.button-container {
  padding: 6px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 8px;
  background-color: #009ea1;
}

.button-text {
  color: white;
  font-weight: bold;
}

.button-end {
  margin-right: 8px;
}

.sort-options-container {
  display: none; 
  position: absolute; 
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10; 
  top: 50px;
  right: 154px;
}

.sort-options-container-dark {
  display: none; 
  position: absolute; 
  background-color: rgb(58, 58, 58);
  border: 1px solid black;
  padding: 10px;
  z-index: 10; 
  top: 50px;
  right: 154px;
}

.sort-options-container.visible {
  display: block; 
}

.sort-options-container-dark.visible {
  display: block; 
}

.sort-options-container div {
  padding: 5px;
  cursor: pointer;
}

.sort-options-container-dark div {
  padding: 5px;
  cursor: pointer;
}

.daily-sort-options-container {
  display: none; 
  position: absolute; 
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10; 
  top: 50px;
  right: 8px;
}

.daily-sort-options-container-dark {
  display: none; 
  position: absolute; 
  background-color: rgb(58, 58, 58);
  border: 1px solid black;
  padding: 10px;
  z-index: 10; 
  top: 50px;
  right: 8px;
}

.daily-sort-options-container.visible {
  display: block; 
}

.daily-sort-options-container-dark.visible {
  display: block; 
}

.daily-sort-options-container div {
  padding: 5px;
  cursor: pointer;
}

.daily-sort-options-container-dark div {
  padding: 5px;
  cursor: pointer;
}

.facility-filter-container {
  display: none; /* Initially hidden */
  position: absolute; /* Adjust as needed based on layout */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10;  
  top: 50px;
  right: 12px;
}

.facility-filter-container-dark {
  display: none; /* Initially hidden */
  position: absolute; /* Adjust as needed based on layout */
  background-color: rgb(58, 58, 58);
  border: 1px solid black;
  padding: 10px;
  z-index: 10;  
  top: 50px;
  right: 12px;
}

.facility-filter-container.visible {
  display: block; /* Show when visible */
}

.facility-filter-container-dark.visible {
  display: block; /* Show when visible */
}

/* Style for individual facility filter options */
.facility-filter-container div {
  padding: 5px;
  cursor: pointer;
}

.facility-filter-container-dark div {
  padding: 5px;
  cursor: pointer;
}

.column-options-container {
  display: none; /* Initially hidden */
  position: absolute; /* Adjust as needed based on layout */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10;
  text-align: left;
  top: 50px;
  right: 85px;
}

.column-options-container-dark {
  display: none; /* Initially hidden */
  position: absolute; /* Adjust as needed based on layout */
  background-color: rgb(58, 58, 58);
  border: 1px solid black;
  padding: 10px;
  z-index: 10; /* Ensure it's above other content */
  text-align: left;
  top: 50px;
  right: 85px;
}

.column-options-container.visible {
  display: block; /* Show when visible */
}

.column-options-container-dark.visible {
  display: block; /* Show when visible */
}

/* Style for individual column option */
.column-options-container div {
  padding: 5px;
}

.column-options-container-dark div {
  padding: 5px;
}